@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Figtree";
    src: url("../assets/fonts/Figtree-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Figtree";
    src: url("../assets/fonts/Figtree-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Figtree";
    src: url("../assets/fonts/Figtree-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Figtree";
    src: url("../assets/fonts/Figtree-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  * {
    outline-offset: 2px;
  }

  html {
    font-family: "Figtree", "Montserrat", sans-serif;
    background-color: hsl(240, 55%, 96%);
  }
}
